<div id="connect-with-us" class="modal">
    <div class="modal-window" id="modal-request">
        <!-- Title -->
        <div class="entry">
            <div class="modal-window__header">
                <h2 class="entry__title">Свяжитесь с нами</h2>
                <div data-izimodal-close="modal" class="modal-window__close">
                    <img src="/assets/images/icons/btn-close-light.svg">
                </div>
            </div>
            <hr class="entry__line">
            <div class="entry__description">
                <p class="fl">Будем рады ответить на Ваш вопрос</p>
            </div>
        </div>
        <!-- Content -->
        <form class="form" method="POST" enctype="multipart/form-data">
            <div class="form__main">
                <!-- Main inputs -->
                <input name="clientName" type="text" class="form__inp form-input _req" placeholder="Ваше имя">
                <div class="form__grid">
                    <input name="clientPhone" type="tel" class="form__inp form-input _req" placeholder="Телефон">
                    <input name="clientMail" type="email" class="form__inp form-input _req _email" placeholder="E-mail">
                    <input name="clientCompany" type="text" class="form__inp form-input _req" placeholder="Компания">
                    <input name="clientPosition" type="text" class="form__inp form-input _req" placeholder="Должность">
                </div>
                <!-- Question input -->
                <textarea name="clientRequest" class="form__area form-input" maxlength="370" placeholder="Ваш вопрос"></textarea>
                <!-- Send button -->
                <input type="submit" value="Отправить" class="btn btn__fill form-button">
            </div>
            <p class="form__commerce-info">
                Нажимая на кнопку *Отправить*, даю согласие на
                <a href="/documents/privacy-policy.pdf" target="_blank" class="link">обработку своих персональных данных</a>
            </p>
        </form>
    </div>
</div>