---
import ContactUsPopup from '../../components/ContactUsPopup.astro'
import Footer from '../../components/Footer.astro'
import '../../styles/scss/style.scss'
---

<!DOCTYPE html>
<html prefix='og: http://ogp.me/ns#'>
	<head>
		<!--== META =================================================-->
		<meta charset='UTF-8' />
		<meta name='HandheldFriendly' content='true' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
		<meta
			name='viewport'
			content='width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no'
		/>
		<!--=========================================================-->

		<!--== SEO ==================================================-->
		<title>IT Vectura | Управление цепочками поставок</title>
		<meta name='author' content='IT Vectura' />
		<meta name='robots' content='index, follow' />
		<meta
			name='keywords'
			content='IT Vectura, управление логистикой, логистическое ПО, оптимизация маршрутов'
		/>
		<meta
			name='description'
			content='IT Vectura предлагает решения для оптимизации логистических процессов. Решения IT Vectura помогают улучшить эффективность доставки, уменьшить затраты и повысить уровень обслуживания клиентов. Узнайте, как мы можем помочь вашей компании достичь лучших результатов в логистике.'
		/>
		<!--=========================================================-->

		<!--== STYLES ===============================================-->
		<!--== NProgress.css ==-->
		<link
			rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css'
			integrity='sha512-42kB9yDlYiCEfx2xVwq0q7hT4uf26FUgSIZBK8uiaEnTdShXjwr8Ip1V4xGJMg3mHkUt9nNuTDxunHF0/EgxLQ=='
			crossorigin='anonymous'
			referrer-policy='no-referrer'
		/>
		<!--== iziModal.css ==-->
		<link
			rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/css/iziModal.min.css'
			integrity='sha512-3c5WiuZUnVWCQGwVBf8XFg/4BKx48Xthd9nXi62YK0xnf39Oc2FV43lIEIdK50W+tfnw2lcVThJKmEAOoQG84Q=='
			crossorigin='anonymous'
			referrer-policy='no-referrer'
		/>
		<!--=========================================================-->

		<!--== JAVASCRIPT ===========================================-->
		<!--== jQuery ==-->
		<script
			src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js'
			integrity='sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=='
			crossorigin='anonymous'
			referrerpolicy='no-referrer'
			defer
		></script>
		<!--== Anime.js ==-->
		<script
			src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js'
			integrity='sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=='
			crossorigin='anonymous'
			referrerpolicy='no-referrer'
			defer
		></script>
		<!--== NProgress.js ==-->
		<script
			src='https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js'
			integrity='sha512-bUg5gaqBVaXIJNuebamJ6uex//mjxPk8kljQTdM1SwkNrQD7pjS+PerntUSD+QRWPNJ0tq54/x4zRV8bLrLhZg=='
			crossorigin='anonymous'
			referrerpolicy='no-referrer'
			defer
		></script>
		<!--== IZIModal.js ==-->
		<script
			src='https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/js/iziModal.min.js'
			integrity='sha512-lR/2z/m/AunQdfBTSR8gp9bwkrjwMq1cP0BYRIZu8zd4ycLcpRYJopB+WsBGPDjlkJUwC6VHCmuAXwwPHlacww=='
			crossorigin='anonymous'
			referrerpolicy='no-referrer'
			defer
		></script>
		<!--== Main script ==-->
		<script src='/assets/js/script.js' defer></script>
		<!--== Animations ==-->
		<!-- <script src="/assets/js/animations.js" defer></script> -->
		<!--=========================================================-->

		<!--== FONTS ================================================-->
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'
			rel='stylesheet'
		/>
		<!--=========================================================-->

		<!--== FAVICON ==============================================-->
		<link
			rel='apple-touch-icon'
			sizes='180x180'
			href='/assets/images/favicon/apple-touch-icon.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='32x32'
			href='/assets/images/favicon/favicon-32x32.png?v=3'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='192x192'
			href='/assets/images/favicon/android-chrome-192x192.png?v=3'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='16x16'
			href='/assets/images/favicon/favicon-16x16.png?v=3'
		/>
		<link rel='manifest' href='/assets/images/favicon/site.webmanifest?v=3' />
		<link
			rel='mask-icon'
			href='/assets/images/favicon/safari-pinned-tab.svg?v=3'
			color='#050113'
		/>
		<link rel='shortcut icon' href='/assets/images/favicon/favicon.ico?v=3' />
		<meta name='apple-mobile-web-app-title' content='IT Vectura' />
		<meta name='application-name' content='IT Vectura' />
		<meta name='msapplication-TileColor' content='#050113' />
		<meta
			name='msapplication-TileImage'
			content='/assets/images/favicon/mstile-144x144.png?v=3'
		/>
		<meta
			name='msapplication-config'
			content='/assets/images/favicon/browserconfig.xml?v=3'
		/>
		<meta name='theme-color' content='#ffffff' />
		<!--=========================================================-->

		<!--== OPEN GRAPH ===========================================-->
		<!--== Facebook OG ==-->
		<meta property='og:url' content='https://itvectura.ru/' />
		<meta property='og:type' content='website' />
		<meta property='og:title' content='IT Vectura | Управление логистикой' />
		<meta
			property='og:description'
			content='IT Vectura предлагает решения для оптимизации логистических процессов. Решения IT Vectura помогают улучшить эффективность доставки, уменьшить затраты и повысить уровень обслуживания клиентов. Узнайте, как мы можем помочь вашей компании достичь лучших результатов в логистике.'
		/>
		<meta property='og:image' content='https://i.yapx.ru/VguuY.jpg' />
		<meta property='og:site_name' content='IT Vectura: управление логистикой' />
		<meta property='og:image:type' content='image/png' />
		<meta property='og:image:width' content='900' />
		<meta property='og:image:height' content='598' />
		<meta property='og:image:alt' content='IT Vectura' />
		<!--== Twitter OG ==-->
		<meta name='twitter:card' content='summary_large_image' />
		<meta property='twitter:domain' content='itvectura.ru' />
		<meta property='twitter:url' content='https://itvectura.ru/' />
		<meta name='twitter:title' content='IT Vectura | Управление логистикой' />
		<meta
			name='twitter:description'
			content='IT Vectura предлагает решения для оптимизации логистических процессов. Решения IT Vectura помогают улучшить эффективность доставки, уменьшить затраты и повысить уровень обслуживания клиентов. Узнайте, как мы можем помочь вашей компании достичь лучших результатов в логистике.'
		/>
		<meta name='twitter:image' content='https://i.yapx.ru/VguuY.jpg' />
		<!--=========================================================-->
	</head>

	<body class='page'>
		<!-- *** Start page components *** -->
		<div class='page__blackout blackout'></div>
		<div class='page__preloader preloader'>
			<div class='preloader__inner'>
				<video muted playsinline class='preloader__pic' id='preloader'>
					<source
						src='/assets/images/logo/logo-preloader.mp4'
						type='video/mp4'
					/>
					<source
						src='/assets/images/logo/logo-preloader.webm'
						type='video/webm'
					/>
				</video>
			</div>
		</div>

		<!-- *** Navigation components *** -->
		<header class='page__header header'>
			<div class='header__body container'>
				<!-- Logo -->
				<a href='/index.html' class='header__commerce'>
					<svg
						class='header__logo'
						width='250'
						height='50'
						viewBox='0 0 274 55'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
					>
						<g clip-path='url(#clip0_56_12)'>
							<path
								d='M30.5718 12.3925L43.6204 8.91278L53.1726 18.4197L49.6762 31.4063L36.6276 34.886L27.0754 25.3792L30.5718 12.3925Z'
								fill='url(#paint0_linear_56_12)'></path>
							<path
								d='M4.55224 5.5068L17.6008 2.02704L27.1531 11.5339L23.6567 24.5205L10.6081 28.0003L1.05587 18.4934L4.55224 5.5068Z'
								fill='url(#paint1_linear_56_12)'></path>
							<path
								d='M11.5503 31.4795L24.5989 27.9997L34.1511 37.5066L30.6548 50.4932L17.6062 53.973L8.05392 44.4661L11.5503 31.4795Z'
								fill='url(#paint2_linear_56_12)'></path>
							<path
								d='M75.6256 27H71.0656V8.88H75.6256V27ZM99.1895 13.44H90.8795V27H86.1995V13.44H77.8895V8.88H99.1895V13.44Z'
								fill='#00B2FF'></path>
							<path
								id='vector-logo-text'
								d='M133.715 8.88L123.815 27H119.135L109.235 8.88H114.815L121.505 21.78L128.165 8.88H133.715ZM155.011 27H138.271L133.711 22.41V13.44L138.271 8.88H155.011V13.44H138.271V15.75H155.011V20.1H138.271V22.41H155.011V27ZM178.565 27H161.825L157.265 22.41V13.44L161.825 8.88H178.565V13.44H161.825V22.41H178.565V27ZM201.201 13.44H192.891V27H188.211V13.44H179.901V8.88H201.201V13.44ZM224.308 22.41L219.748 27H207.568L203.008 22.41V8.88H207.568V22.41H219.748V8.88H224.308V22.41ZM248.752 27H240.442L235.762 22.41V20.1H232.012V27H227.452V8.88H244.192L248.752 13.44V15.75L244.192 20.1H240.442V22.41H248.752V27ZM244.192 15.75V13.44H232.012V15.75H244.192ZM272.296 27H267.736V20.1H255.556V27H250.996V13.44L255.556 8.88H267.736L272.296 13.44V27ZM267.736 15.75V13.44H255.556V15.75H267.736Z'
								fill='white'></path>
							<path
								d='M70.7476 50V40.9H71.7096V49.168H76.8056V50H70.7476ZM80.8883 50.065C80.2297 50.065 79.636 49.9177 79.1073 49.623C78.5873 49.3197 78.1757 48.908 77.8723 48.388C77.569 47.8593 77.4173 47.257 77.4173 46.581C77.4173 45.8963 77.569 45.294 77.8723 44.774C78.1757 44.254 78.5873 43.8467 79.1073 43.552C79.6273 43.2573 80.221 43.11 80.8883 43.11C81.5643 43.11 82.1623 43.2573 82.6823 43.552C83.211 43.8467 83.6227 44.254 83.9173 44.774C84.2207 45.294 84.3723 45.8963 84.3723 46.581C84.3723 47.257 84.2207 47.8593 83.9173 48.388C83.6227 48.908 83.211 49.3197 82.6823 49.623C82.1537 49.9177 81.5557 50.065 80.8883 50.065ZM80.8883 49.246C81.3823 49.246 81.82 49.1377 82.2013 48.921C82.5827 48.6957 82.8817 48.3837 83.0983 47.985C83.3237 47.5777 83.4363 47.1097 83.4363 46.581C83.4363 46.0437 83.3237 45.5757 83.0983 45.177C82.8817 44.7783 82.5827 44.4707 82.2013 44.254C81.82 44.0287 81.3867 43.916 80.9013 43.916C80.416 43.916 79.9827 44.0287 79.6013 44.254C79.22 44.4707 78.9167 44.7783 78.6913 45.177C78.466 45.5757 78.3533 46.0437 78.3533 46.581C78.3533 47.1097 78.466 47.5777 78.6913 47.985C78.9167 48.3837 79.22 48.6957 79.6013 48.921C79.9827 49.1377 80.4117 49.246 80.8883 49.246ZM89.1687 52.587C88.5447 52.587 87.9467 52.496 87.3747 52.314C86.8027 52.132 86.3391 51.872 85.9837 51.534L86.4517 50.832C86.7724 51.118 87.1667 51.3433 87.6347 51.508C88.1114 51.6813 88.6141 51.768 89.1427 51.768C90.0094 51.768 90.6464 51.5643 91.0537 51.157C91.4611 50.7583 91.6647 50.1343 91.6647 49.285V47.582L91.7947 46.412L91.7037 45.242V43.175H92.5877V49.168C92.5877 50.3467 92.2974 51.209 91.7167 51.755C91.1447 52.3097 90.2954 52.587 89.1687 52.587ZM88.9997 49.74C88.3497 49.74 87.7647 49.6013 87.2447 49.324C86.7247 49.038 86.3131 48.6437 86.0097 48.141C85.7151 47.6383 85.5677 47.062 85.5677 46.412C85.5677 45.762 85.7151 45.19 86.0097 44.696C86.3131 44.1933 86.7247 43.8033 87.2447 43.526C87.7647 43.2487 88.3497 43.11 88.9997 43.11C89.6064 43.11 90.1524 43.2357 90.6377 43.487C91.1231 43.7383 91.5087 44.111 91.7947 44.605C92.0807 45.099 92.2237 45.7013 92.2237 46.412C92.2237 47.1227 92.0807 47.725 91.7947 48.219C91.5087 48.713 91.1231 49.09 90.6377 49.35C90.1524 49.61 89.6064 49.74 88.9997 49.74ZM89.0907 48.921C89.5934 48.921 90.0397 48.817 90.4297 48.609C90.8197 48.3923 91.1274 48.0977 91.3527 47.725C91.5781 47.3437 91.6907 46.906 91.6907 46.412C91.6907 45.918 91.5781 45.4847 91.3527 45.112C91.1274 44.7393 90.8197 44.449 90.4297 44.241C90.0397 44.0243 89.5934 43.916 89.0907 43.916C88.5967 43.916 88.1504 44.0243 87.7517 44.241C87.3617 44.449 87.0541 44.7393 86.8287 45.112C86.6121 45.4847 86.5037 45.918 86.5037 46.412C86.5037 46.906 86.6121 47.3437 86.8287 47.725C87.0541 48.0977 87.3617 48.3923 87.7517 48.609C88.1504 48.817 88.5967 48.921 89.0907 48.921ZM95.1561 50V43.175H96.0791V50H95.1561ZM95.6241 41.667C95.4335 41.667 95.2731 41.602 95.1431 41.472C95.0131 41.342 94.9481 41.186 94.9481 41.004C94.9481 40.822 95.0131 40.6703 95.1431 40.549C95.2731 40.419 95.4335 40.354 95.6241 40.354C95.8148 40.354 95.9751 40.4147 96.1051 40.536C96.2351 40.6573 96.3001 40.809 96.3001 40.991C96.3001 41.1817 96.2351 41.342 96.1051 41.472C95.9838 41.602 95.8235 41.667 95.6241 41.667ZM100.48 50.065C99.917 50.065 99.384 49.987 98.8814 49.831C98.3787 49.6663 97.9844 49.4627 97.6984 49.22L98.1144 48.492C98.3917 48.7 98.747 48.882 99.1804 49.038C99.6137 49.1853 100.069 49.259 100.545 49.259C101.195 49.259 101.663 49.1593 101.949 48.96C102.235 48.752 102.378 48.479 102.378 48.141C102.378 47.8897 102.296 47.6947 102.131 47.556C101.975 47.4087 101.767 47.3003 101.507 47.231C101.247 47.153 100.957 47.088 100.636 47.036C100.316 46.984 99.995 46.9233 99.6744 46.854C99.3624 46.7847 99.0764 46.685 98.8164 46.555C98.5564 46.4163 98.344 46.23 98.1794 45.996C98.0234 45.762 97.9454 45.45 97.9454 45.06C97.9454 44.6873 98.0494 44.3537 98.2574 44.059C98.4654 43.7643 98.7687 43.5347 99.1674 43.37C99.5747 43.1967 100.069 43.11 100.649 43.11C101.091 43.11 101.533 43.1707 101.975 43.292C102.417 43.4047 102.781 43.5563 103.067 43.747L102.664 44.488C102.361 44.28 102.036 44.1327 101.689 44.046C101.343 43.9507 100.996 43.903 100.649 43.903C100.034 43.903 99.579 44.0113 99.2844 44.228C98.9984 44.436 98.8554 44.7047 98.8554 45.034C98.8554 45.294 98.9334 45.4977 99.0894 45.645C99.254 45.7923 99.4664 45.9093 99.7264 45.996C99.995 46.074 100.285 46.139 100.597 46.191C100.918 46.243 101.234 46.308 101.546 46.386C101.867 46.4553 102.157 46.555 102.417 46.685C102.686 46.8063 102.898 46.984 103.054 47.218C103.219 47.4433 103.301 47.7423 103.301 48.115C103.301 48.5137 103.189 48.8603 102.963 49.155C102.747 49.441 102.426 49.6663 102.001 49.831C101.585 49.987 101.078 50.065 100.48 50.065ZM107.153 50.065C106.512 50.065 106.018 49.8917 105.671 49.545C105.324 49.1983 105.151 48.7087 105.151 48.076V41.667H106.074V48.024C106.074 48.4227 106.174 48.7303 106.373 48.947C106.581 49.1637 106.876 49.272 107.257 49.272C107.664 49.272 108.002 49.155 108.271 48.921L108.596 49.584C108.414 49.7487 108.193 49.87 107.933 49.948C107.682 50.026 107.422 50.065 107.153 50.065ZM103.929 43.942V43.175H108.154V43.942H103.929ZM110.276 50V43.175H111.199V50H110.276ZM110.744 41.667C110.554 41.667 110.393 41.602 110.263 41.472C110.133 41.342 110.068 41.186 110.068 41.004C110.068 40.822 110.133 40.6703 110.263 40.549C110.393 40.419 110.554 40.354 110.744 40.354C110.935 40.354 111.095 40.4147 111.225 40.536C111.355 40.6573 111.42 40.809 111.42 40.991C111.42 41.1817 111.355 41.342 111.225 41.472C111.104 41.602 110.944 41.667 110.744 41.667ZM116.601 50.065C115.925 50.065 115.319 49.9177 114.781 49.623C114.253 49.3197 113.837 48.908 113.533 48.388C113.23 47.8593 113.078 47.257 113.078 46.581C113.078 45.8963 113.23 45.294 113.533 44.774C113.837 44.254 114.253 43.8467 114.781 43.552C115.319 43.2573 115.925 43.11 116.601 43.11C117.182 43.11 117.706 43.2227 118.174 43.448C118.642 43.6733 119.011 44.0113 119.279 44.462L118.59 44.93C118.356 44.5833 118.066 44.3277 117.719 44.163C117.373 43.9983 116.996 43.916 116.588 43.916C116.103 43.916 115.665 44.0287 115.275 44.254C114.885 44.4707 114.578 44.7783 114.352 45.177C114.127 45.5757 114.014 46.0437 114.014 46.581C114.014 47.1183 114.127 47.5863 114.352 47.985C114.578 48.3837 114.885 48.6957 115.275 48.921C115.665 49.1377 116.103 49.246 116.588 49.246C116.996 49.246 117.373 49.1637 117.719 48.999C118.066 48.8343 118.356 48.583 118.59 48.245L119.279 48.713C119.011 49.155 118.642 49.493 118.174 49.727C117.706 49.9523 117.182 50.065 116.601 50.065ZM122.926 50.065C122.362 50.065 121.829 49.987 121.327 49.831C120.824 49.6663 120.43 49.4627 120.144 49.22L120.56 48.492C120.837 48.7 121.192 48.882 121.626 49.038C122.059 49.1853 122.514 49.259 122.991 49.259C123.641 49.259 124.109 49.1593 124.395 48.96C124.681 48.752 124.824 48.479 124.824 48.141C124.824 47.8897 124.741 47.6947 124.577 47.556C124.421 47.4087 124.213 47.3003 123.953 47.231C123.693 47.153 123.402 47.088 123.082 47.036C122.761 46.984 122.44 46.9233 122.12 46.854C121.808 46.7847 121.522 46.685 121.262 46.555C121.002 46.4163 120.789 46.23 120.625 45.996C120.469 45.762 120.391 45.45 120.391 45.06C120.391 44.6873 120.495 44.3537 120.703 44.059C120.911 43.7643 121.214 43.5347 121.613 43.37C122.02 43.1967 122.514 43.11 123.095 43.11C123.537 43.11 123.979 43.1707 124.421 43.292C124.863 43.4047 125.227 43.5563 125.513 43.747L125.11 44.488C124.806 44.28 124.481 44.1327 124.135 44.046C123.788 43.9507 123.441 43.903 123.095 43.903C122.479 43.903 122.024 44.0113 121.73 44.228C121.444 44.436 121.301 44.7047 121.301 45.034C121.301 45.294 121.379 45.4977 121.535 45.645C121.699 45.7923 121.912 45.9093 122.172 45.996C122.44 46.074 122.731 46.139 123.043 46.191C123.363 46.243 123.68 46.308 123.992 46.386C124.312 46.4553 124.603 46.555 124.863 46.685C125.131 46.8063 125.344 46.984 125.5 47.218C125.664 47.4433 125.747 47.7423 125.747 48.115C125.747 48.5137 125.634 48.8603 125.409 49.155C125.192 49.441 124.871 49.6663 124.447 49.831C124.031 49.987 123.524 50.065 122.926 50.065ZM131.038 50V40.9H132V50H131.038ZM136.729 50V41.732H133.531V40.9H140.889V41.732H137.691V50H136.729ZM147.466 50.065C146.902 50.065 146.369 49.987 145.867 49.831C145.364 49.6663 144.97 49.4627 144.684 49.22L145.1 48.492C145.377 48.7 145.732 48.882 146.166 49.038C146.599 49.1853 147.054 49.259 147.531 49.259C148.181 49.259 148.649 49.1593 148.935 48.96C149.221 48.752 149.364 48.479 149.364 48.141C149.364 47.8897 149.281 47.6947 149.117 47.556C148.961 47.4087 148.753 47.3003 148.493 47.231C148.233 47.153 147.942 47.088 147.622 47.036C147.301 46.984 146.98 46.9233 146.66 46.854C146.348 46.7847 146.062 46.685 145.802 46.555C145.542 46.4163 145.329 46.23 145.165 45.996C145.009 45.762 144.931 45.45 144.931 45.06C144.931 44.6873 145.035 44.3537 145.243 44.059C145.451 43.7643 145.754 43.5347 146.153 43.37C146.56 43.1967 147.054 43.11 147.635 43.11C148.077 43.11 148.519 43.1707 148.961 43.292C149.403 43.4047 149.767 43.5563 150.053 43.747L149.65 44.488C149.346 44.28 149.021 44.1327 148.675 44.046C148.328 43.9507 147.981 43.903 147.635 43.903C147.019 43.903 146.564 44.0113 146.27 44.228C145.984 44.436 145.841 44.7047 145.841 45.034C145.841 45.294 145.919 45.4977 146.075 45.645C146.239 45.7923 146.452 45.9093 146.712 45.996C146.98 46.074 147.271 46.139 147.583 46.191C147.903 46.243 148.22 46.308 148.532 46.386C148.852 46.4553 149.143 46.555 149.403 46.685C149.671 46.8063 149.884 46.984 150.04 47.218C150.204 47.4433 150.287 47.7423 150.287 48.115C150.287 48.5137 150.174 48.8603 149.949 49.155C149.732 49.441 149.411 49.6663 148.987 49.831C148.571 49.987 148.064 50.065 147.466 50.065ZM154.762 50.065C154.104 50.065 153.51 49.9177 152.981 49.623C152.461 49.3197 152.05 48.908 151.746 48.388C151.443 47.8593 151.291 47.257 151.291 46.581C151.291 45.8963 151.443 45.294 151.746 44.774C152.05 44.254 152.461 43.8467 152.981 43.552C153.501 43.2573 154.095 43.11 154.762 43.11C155.438 43.11 156.036 43.2573 156.556 43.552C157.085 43.8467 157.497 44.254 157.791 44.774C158.095 45.294 158.246 45.8963 158.246 46.581C158.246 47.257 158.095 47.8593 157.791 48.388C157.497 48.908 157.085 49.3197 156.556 49.623C156.028 49.9177 155.43 50.065 154.762 50.065ZM154.762 49.246C155.256 49.246 155.694 49.1377 156.075 48.921C156.457 48.6957 156.756 48.3837 156.972 47.985C157.198 47.5777 157.31 47.1097 157.31 46.581C157.31 46.0437 157.198 45.5757 156.972 45.177C156.756 44.7783 156.457 44.4707 156.075 44.254C155.694 44.0287 155.261 43.916 154.775 43.916C154.29 43.916 153.857 44.0287 153.475 44.254C153.094 44.4707 152.791 44.7783 152.565 45.177C152.34 45.5757 152.227 46.0437 152.227 46.581C152.227 47.1097 152.34 47.5777 152.565 47.985C152.791 48.3837 153.094 48.6957 153.475 48.921C153.857 49.1377 154.286 49.246 154.762 49.246ZM160.287 50V42.317C160.287 41.7103 160.464 41.2207 160.82 40.848C161.175 40.4753 161.686 40.289 162.354 40.289C162.614 40.289 162.865 40.3237 163.108 40.393C163.35 40.4623 163.554 40.5707 163.719 40.718L163.407 41.407C163.277 41.2943 163.125 41.212 162.952 41.16C162.778 41.0993 162.592 41.069 162.393 41.069C162.003 41.069 161.704 41.1773 161.496 41.394C161.288 41.6107 161.184 41.9313 161.184 42.356V43.396L161.21 43.825V50H160.287ZM159.065 43.942V43.175H163.29V43.942H159.065ZM166.694 50.065C166.053 50.065 165.559 49.8917 165.212 49.545C164.865 49.1983 164.692 48.7087 164.692 48.076V41.667H165.615V48.024C165.615 48.4227 165.715 48.7303 165.914 48.947C166.122 49.1637 166.417 49.272 166.798 49.272C167.205 49.272 167.543 49.155 167.812 48.921L168.137 49.584C167.955 49.7487 167.734 49.87 167.474 49.948C167.223 50.026 166.963 50.065 166.694 50.065ZM163.47 43.942V43.175H167.695V43.942H163.47ZM171.081 50L168.507 43.175H169.391L171.731 49.506H171.328L173.733 43.175H174.526L176.905 49.506H176.502L178.881 43.175H179.726L177.139 50H176.268L173.98 44.046H174.253L171.952 50H171.081ZM185.19 50V48.492L185.151 48.245V45.723C185.151 45.1423 184.986 44.696 184.657 44.384C184.336 44.072 183.855 43.916 183.214 43.916C182.772 43.916 182.352 43.9897 181.953 44.137C181.554 44.2843 181.216 44.4793 180.939 44.722L180.523 44.033C180.87 43.7383 181.286 43.513 181.771 43.357C182.256 43.1923 182.768 43.11 183.305 43.11C184.189 43.11 184.869 43.331 185.346 43.773C185.831 44.2063 186.074 44.8693 186.074 45.762V50H185.19ZM182.837 50.065C182.326 50.065 181.879 49.9827 181.498 49.818C181.125 49.6447 180.839 49.4107 180.64 49.116C180.441 48.8127 180.341 48.466 180.341 48.076C180.341 47.7207 180.423 47.4 180.588 47.114C180.761 46.8193 181.039 46.5853 181.42 46.412C181.81 46.23 182.33 46.139 182.98 46.139H185.333V46.828H183.006C182.347 46.828 181.888 46.945 181.628 47.179C181.377 47.413 181.251 47.7033 181.251 48.05C181.251 48.44 181.403 48.752 181.706 48.986C182.009 49.22 182.434 49.337 182.98 49.337C183.5 49.337 183.946 49.22 184.319 48.986C184.7 48.7433 184.978 48.3967 185.151 47.946L185.359 48.583C185.186 49.0337 184.882 49.3933 184.449 49.662C184.024 49.9307 183.487 50.065 182.837 50.065ZM188.581 50V43.175H189.465V45.034L189.374 44.709C189.565 44.189 189.885 43.7947 190.336 43.526C190.787 43.2487 191.346 43.11 192.013 43.11V44.007C191.978 44.007 191.944 44.007 191.909 44.007C191.874 43.9983 191.84 43.994 191.805 43.994C191.086 43.994 190.522 44.215 190.115 44.657C189.708 45.0903 189.504 45.71 189.504 46.516V50H188.581ZM196.533 50.065C195.822 50.065 195.198 49.9177 194.661 49.623C194.123 49.3197 193.703 48.908 193.4 48.388C193.096 47.8593 192.945 47.257 192.945 46.581C192.945 45.905 193.088 45.307 193.374 44.787C193.668 44.267 194.067 43.8597 194.57 43.565C195.081 43.2617 195.653 43.11 196.286 43.11C196.927 43.11 197.495 43.2573 197.989 43.552C198.491 43.838 198.886 44.2453 199.172 44.774C199.458 45.294 199.601 45.8963 199.601 46.581C199.601 46.6243 199.596 46.672 199.588 46.724C199.588 46.7673 199.588 46.815 199.588 46.867H193.647V46.178H199.094L198.73 46.451C198.73 45.957 198.621 45.5193 198.405 45.138C198.197 44.748 197.911 44.4447 197.547 44.228C197.183 44.0113 196.762 43.903 196.286 43.903C195.818 43.903 195.397 44.0113 195.025 44.228C194.652 44.4447 194.362 44.748 194.154 45.138C193.946 45.528 193.842 45.9743 193.842 46.477V46.62C193.842 47.14 193.954 47.5993 194.18 47.998C194.414 48.388 194.734 48.6957 195.142 48.921C195.558 49.1377 196.03 49.246 196.559 49.246C196.975 49.246 197.36 49.1723 197.716 49.025C198.08 48.8777 198.392 48.6523 198.652 48.349L199.172 48.947C198.868 49.311 198.487 49.5883 198.028 49.779C197.577 49.9697 197.079 50.065 196.533 50.065Z'
								fill='#00B2FF'></path>
							<line
								x1='61.7363'
								y1='-2.17776e-08'
								x2='61.7363'
								y2='56'
								stroke='#00B2FF'></line>
						</g>
						<defs>
							<linearGradient
								id='paint0_linear_56_12'
								x1='30.5718'
								y1='12.3925'
								x2='49.5853'
								y2='31.4968'
								gradientUnits='userSpaceOnUse'
							>
								<stop stop-color='#00B2FF'></stop>
								<stop offset='1' stop-color='#1281FD'></stop>
							</linearGradient>
							<linearGradient
								id='paint1_linear_56_12'
								x1='4.55224'
								y1='5.5068'
								x2='23.5658'
								y2='24.6111'
								gradientUnits='userSpaceOnUse'
							>
								<stop stop-color='#00B2FF'></stop>
								<stop offset='1' stop-color='#1281FD'></stop>
							</linearGradient>
							<linearGradient
								id='paint2_linear_56_12'
								x1='11.5503'
								y1='31.4795'
								x2='30.5638'
								y2='50.5837'
								gradientUnits='userSpaceOnUse'
							>
								<stop stop-color='#00B2FF'></stop>
								<stop offset='1' stop-color='#1281FD'></stop>
							</linearGradient>
							<clipPath id='clip0_56_12'>
								<rect width='274' height='55' fill='white'></rect>
							</clipPath>
						</defs>
					</svg>
				</a>
				<!-- Navigation -->
				<nav class='header__nav'>
					<ul class='header__nav-body scr-list'>
						<!-- Main page -->
						<li class='header__item'>
							<a href='/' class='fxs wm cw'>Главная</a>
						</li>
						<!-- Products catalog -->
						<li class='header__item'>
							<a href='#catalog' class='scr-link fxs wm cw'>Решения</a>
						</li>
						<!-- Products -->
						<li class='header__item-category'>
							<!-- Main link to Products -->
							<p class='fxs wm cw'>
								<span class='header__open'></span>Продукты
							</p>
							<!-- Our products -->
							<ul class='header__category'>
								<div class='header__category-item header__category-item_title'>
									<a href='/products/' class='fxs cw wm'
										>Управление цепочками поставок</a
									>
								</div>
								<li class='header__category-item'>
									<a href='/products/transport-management/' class='fxs cw'
										>Transportation Management System</a
									>
								</li>
								<li class='header__category-item'>
									<a href='/products/warehouse-management/' class='fxs cw'
										>Warehouse Management System</a
									>
								</li>
								<li class='header__category-item'>
									<a href='/products/yard-logistic/' class='fxs cw'
										>Yard Logistic</a
									>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<!-- Partners -->
				<div class='header__partners'>
					<img
						class='skolkovo-light'
						src='/assets/images/logo/logo_1c_ru.png'
						alt='Участник фонда Сколково'
					/>
					<a
						class='header__skolkovo'
						href='https://navigator.sk.ru/orn/1125306'
						target='_blank'
					>
						<img
							class='skolkovo-light'
							src='/assets/images/logo/logo_skolkovo_ru.png'
							alt='Участник фонда Сколково'
						/>
						<img
							class='skolkovo-dark'
							src='/assets/images/logo/logo_skolkovo_dark.png'
							alt='Участник фонда Сколково'
						/>
						<img
							class='skolkovo-light'
							src='/assets/images/logo/logo_nobel_ru.png'
							alt='Участник фонда Сколково'
						/>
						<img
							class='skolkovo-dark'
							src='/assets/images/logo/logo_nobel_dark.png'
							alt='Участник фонда Сколково'
						/>
					</a>
				</div>
				<!-- Mobile buttons -->
				<div class='header__mobile'>
					<svg
						viewBox='0 0 24 24'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
					>
						<path
							id='vector-mobile-burger'
							d='M8 7.5C7.72386 7.5 7.5 7.72386 7.5 8C7.5 8.27614 7.72386 8.5 8 8.5V7.5ZM16 8.5C16.2761 8.5 16.5 8.27614 16.5 8C16.5 7.72386 16.2761 7.5 16 7.5V8.5ZM8 11.5C7.72386 11.5 7.5 11.7239 7.5 12C7.5 12.2761 7.72386 12.5 8 12.5V11.5ZM16 12.5C16.2761 12.5 16.5 12.2761 16.5 12C16.5 11.7239 16.2761 11.5 16 11.5V12.5ZM8 15.5C7.72386 15.5 7.5 15.7239 7.5 16C7.5 16.2761 7.72386 16.5 8 16.5V15.5ZM16 16.5C16.2761 16.5 16.5 16.2761 16.5 16C16.5 15.7239 16.2761 15.5 16 15.5V16.5ZM3.73005 22.455L3.95704 22.0095L3.73005 22.455ZM1.54497 20.27L1.99047 20.043L1.54497 20.27ZM22.455 20.27L22.0095 20.043L22.455 20.27ZM20.27 22.455L20.043 22.0095L20.27 22.455ZM20.27 1.54497L20.043 1.99047L20.27 1.54497ZM22.455 3.73005L22.0095 3.95704L22.455 3.73005ZM3.73005 1.54497L3.95704 1.99047L3.73005 1.54497ZM1.54497 3.73005L1.99047 3.95704L1.54497 3.73005ZM8 8.5H16V7.5H8V8.5ZM8 12.5H16V11.5H8V12.5ZM8 16.5H16V15.5H8V16.5ZM9 1.5H15V0.5H9V1.5ZM22.5 9V15H23.5V9H22.5ZM15 22.5H9V23.5H15V22.5ZM1.5 15V9H0.5V15H1.5ZM9 22.5C7.59162 22.5 6.5654 22.4996 5.75673 22.4335C4.95389 22.3679 4.40959 22.2401 3.95704 22.0095L3.50305 22.9005C4.12007 23.2149 4.81061 23.3596 5.67529 23.4302C6.53414 23.5004 7.60812 23.5 9 23.5V22.5ZM0.5 15C0.5 16.3919 0.499611 17.4659 0.569781 18.3247C0.640429 19.1894 0.78508 19.8799 1.09946 20.4969L1.99047 20.043C1.75989 19.5904 1.63206 19.0461 1.56646 18.2433C1.50039 17.4346 1.5 16.4084 1.5 15H0.5ZM3.95704 22.0095C3.11031 21.5781 2.4219 20.8897 1.99047 20.043L1.09946 20.4969C1.62677 21.5318 2.46816 22.3732 3.50305 22.9005L3.95704 22.0095ZM22.5 15C22.5 16.4084 22.4996 17.4346 22.4335 18.2433C22.3679 19.0461 22.2401 19.5904 22.0095 20.043L22.9005 20.4969C23.2149 19.8799 23.3596 19.1894 23.4302 18.3247C23.5004 17.4659 23.5 16.3919 23.5 15H22.5ZM15 23.5C16.3919 23.5 17.4659 23.5004 18.3247 23.4302C19.1894 23.3596 19.8799 23.2149 20.4969 22.9005L20.043 22.0095C19.5904 22.2401 19.0461 22.3679 18.2433 22.4335C17.4346 22.4996 16.4084 22.5 15 22.5V23.5ZM22.0095 20.043C21.5781 20.8897 20.8897 21.5781 20.043 22.0095L20.4969 22.9005C21.5318 22.3732 22.3732 21.5318 22.9005 20.4969L22.0095 20.043ZM15 1.5C16.4084 1.5 17.4346 1.50039 18.2433 1.56646C19.0461 1.63206 19.5904 1.75989 20.043 1.99047L20.4969 1.09946C19.8799 0.78508 19.1894 0.640429 18.3247 0.569781C17.4659 0.499611 16.3919 0.5 15 0.5V1.5ZM23.5 9C23.5 7.60812 23.5004 6.53414 23.4302 5.67529C23.3596 4.81061 23.2149 4.12007 22.9005 3.50305L22.0095 3.95704C22.2401 4.40959 22.3679 4.95389 22.4335 5.75673C22.4996 6.5654 22.5 7.59162 22.5 9H23.5ZM20.043 1.99047C20.8897 2.4219 21.5781 3.11031 22.0095 3.95704L22.9005 3.50305C22.3732 2.46816 21.5318 1.62677 20.4969 1.09946L20.043 1.99047ZM9 0.5C7.60812 0.5 6.53414 0.499611 5.67529 0.569781C4.81061 0.640429 4.12007 0.78508 3.50305 1.09946L3.95704 1.99047C4.40959 1.75989 4.95389 1.63206 5.75673 1.56646C6.5654 1.50039 7.59162 1.5 9 1.5V0.5ZM1.5 9C1.5 7.59162 1.50039 6.5654 1.56646 5.75673C1.63206 4.95389 1.75989 4.40959 1.99047 3.95704L1.09946 3.50305C0.78508 4.12007 0.640429 4.81061 0.569781 5.67529C0.499611 6.53414 0.5 7.60812 0.5 9H1.5ZM3.50305 1.09946C2.46816 1.62677 1.62677 2.46816 1.09946 3.50305L1.99047 3.95704C2.4219 3.11031 3.11031 2.4219 3.95704 1.99047L3.50305 1.09946Z'
							fill='white'></path>
					</svg>
				</div>
			</div>
		</header>
		<div class='page__mobile mobile'>
			<div class='mobile__body'>
				<!-- Top bar -->
				<div class='mobile__head'>
					<button class='mobile__button'>
						<img src='/assets/images/icons/mobile/btn-menu-close.svg' />
					</button>
				</div>
				<!-- Separator -->
				<hr class='mobile__hr' noshade size='1' color='#232323' />
				<!-- Content -->
				<div class='mobile__content'>
					<!-- Navigation -->
					<nav
						class='mobile__nav scr-list'
						aria-labelledby='secondary-navigation'
					>
						<a href='/index.html' class='mobile__item'>Главная</a>
						<a href='#catalog' class='mobile__item scr-link'>Решения</a>
						<div class='mobile__item sub-cat'>
							<!-- Title of category -->
							<button class='sub-cat__title'
								>Продукты<span class='mobile__open'></span></button
							>
							<!-- Category -->
							<div class='sub-cat__list'>
								<a href='/products/' class='sub-cat__item'>
									Управление цепочками поставок
								</a>
								<a href='/products/transport-management/' class='sub-cat__item'>
									Transportation Management System
								</a>
								<a href='/products/warehouse-management/' class='sub-cat__item'>
									Warehouse Management System
								</a>
								<a href='/products/yard-logistic/' class='sub-cat__item'>
									Yard Logistic
								</a>
							</div>
						</div>
						<a href='/index.html' class='mobile__item wm'>Контакты</a>
					</nav>
					<!-- Separator -->
					<hr class='mobile__hr' noshade size='1' color='#232323' />
					<!-- Commerce info -->
					<div class='mobile__com'>
						<!-- Langs switcher -->
						<a href='https://itvectura.com/' class='mobile__com-item'>
							<svg
								width='16'
								height='16'
								viewBox='0 0 50 50'
								fill='none'
								xmlns='http://www.w3.org/2000/svg'
							>
								<path
									id='langs-earth'
									d='M3.12504 20.8334C9.02782 19.4445 19.1667 18.5417 16.6667 26.0417C13.5417 35.4167 14.5834 33.3333 16.6667 37.5C18.3334 40.8333 17.3612 44.4444 16.6667 45.8333M10.4167 8.33333C13.5417 7.63888 20.8334 7.08333 25 10.4167C30.2084 14.5833 29.1667 20.8333 43.75 12.5M47.9167 25C47.9167 37.6565 37.6566 47.9167 25 47.9167C12.3435 47.9167 2.08337 37.6565 2.08337 25C2.08337 12.3435 12.3435 2.08333 25 2.08333C37.6566 2.08333 47.9167 12.3435 47.9167 25ZM29.8483 25.623C37.14 24.5813 39.5834 23.9583 37.5 29.1667C35.5657 34.0025 29.8483 43.6786 25.6817 33.9563C24.64 31.5258 24.015 26.4563 29.8483 25.623Z'
									stroke='#ffffff'
									stroke-width='3'
									stroke-linecap='round'></path>
							</svg>
							International edition
						</a>
						<a
							href='/documents/privacy-policy.pdf'
							target='_blank'
							class='mobile__com-item'
						>
							Политика конфиденциальности
						</a>
					</div>
					<!-- Separator -->
					<hr class='mobile__hr' noshade size='1' color='#232323' />
					<!-- Contacts -->
					<div class='mobile__contacts'>
						<a class='mobile__contacts-item' href='tel:+7(499)673-32-73'>
							<img src='/assets/images/icons/mobile/menu-phone.svg' />
							<p>+7 (499) 673-32-73</p>
						</a>
						<a class='mobile__contacts-item' href='mailto:info@itvectura.com'>
							<img src='/assets/images/icons/mobile/menu-email.svg' />
							<p>info@itvectura.com</p>
						</a>
						<a
							class='mobile__contacts-item'
							href='https://www.google.ru/maps/place/%D0%9D%D0%B8%D0%B6%D0%BD%D1%8F%D1%8F+%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D1%81%D0%B5%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB.,+40%2F12,+%D0%BA%D0%BE%D1%80%D0%BF%D1%83%D1%81+20,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+105066/@55.7741802,37.6698747,17z/data=!3m1!4b1!4m5!3m4!1s0x46b54a8026721307:0x182793958dcfda5e!8m2!3d55.7741802!4d37.6720687?hl=ru&coh=164777&entry=tt'
							target='_blank'
						>
							<img src='/assets/images/icons/mobile/menu-address.svg' />
							<p>105066, г. Москва, ул. Нижняя Красносельская 40/12 к.20</p>
						</a>
					</div>
					<!-- Separator -->
					<hr class='mobile__hr' noshade size='1' color='#232323' />
					<!-- Partners -->
					<div class='mobile__partners'>
						<a
							href='https://inthemelab.com/'
							target='_blank'
							class='mobile__partners-item'
						>
							<img src='/assets/images/logo/logo-itl.svg' />
							INTHEME LAB
						</a>
						<a
							href='http://i1.consulting/'
							target='_blank'
							class='mobile__partners-item'
						>
							<img src='/assets/images/logo/logo-i1.svg' />
							I1 CONSULTING
						</a>
					</div>
					<!-- Separator -->
					<hr class='mobile__hr' noshade size='1' color='#232323' />
					<!-- Copyright -->
					<p class='mobile__copyright'>
						&#169 ITVECTURA 2023. Все права защищены
					</p>
				</div>
			</div>
		</div>

		<!-- *** Main page content *** -->
		<main class='page__content content'>
			<section class='content__intro intro type-products' id='intro'>
				<!-- Main -->
				<div class='intro__main container'>
					<!-- Content -->
					<div class='intro__content'>
						<div class='intro__text'>
							<div class='intro__title'>
								<h1>
									Линейка решений IT Vectura <span class='span'
										>Logistic Platform</span
									>
								</h1>
							</div>
							<div class='intro__description'>
								<p class='fm cw'>
									Выведите все процессы логистики в единое информационное
									пространство для достижения прозрачности всех операций
									и&nbsp;моментального принятия управленческих и операционных
									решений, которые раскроют потенциальные точки
									роста&nbsp;прибыли и сокращения расходов.
								</p>
							</div>
						</div>
						<div class='intro__pic-mobile'>
							<img
								src='/assets/images/product-page/planet-solo.png'
								alt='Air, Road, Sea, Rail and River Transportations'
							/>
						</div>
						<div class='intro__buttons'>
							<div class='btn btn__clear'>
								<a
									href='#'
									class='btn-connect-with-us'
									data-izimodal-open='#connect-with-us'
								>
									Запросить демонстрацию
								</a>
							</div>
						</div>
					</div>
					<!-- Background -->
					<div class='intro__pic'>
						<img
							src='/assets/images/product-page/planet-solo.png'
							alt='Air, Road, Sea, Rail and River Transportations'
						/>
					</div>
				</div>
				<!-- Products -->
				<div class='intro__products products container'>
					<!-- Warehouse Management System -->
					<a class='products__item' href='/products/warehouse-management/'>
						<div class='products__header'>
							<p class='fl wm cw'>Управление складом</p>
							<img
								src='/assets/images/product-page/icons/warehouse-management.svg'
							/>
						</div>
						<p class='products__description fxs cw'>
							Система оперативного управления складскими процессами
						</p>
						<div class='products__buttons'>
							<p class='fm link cw'>Подробнее</p>
							<img src='/assets/images/icons/btn-down-light.svg' />
						</div>
					</a>
					<!-- Transportation Management System -->
					<a class='products__item' href='/products/transport-management/'>
						<!-- Title -->
						<div class='products__header'>
							<p class='fl wm cw'>Управление транспортом</p>
							<img
								src='/assets/images/product-page/icons/transport-management.svg'
							/>
						</div>
						<!-- Description -->
						<p class='fxs cw'>
							Управление транспортными перевозками и экспедиторскими услугами
						</p>
						<!-- Buttons -->
						<div class='products__buttons'>
							<p class='fm link cw'>Подробнее</p>
							<img src='/assets/images/icons/btn-down-light.svg' />
						</div>
					</a>
					<!-- Yard logistic -->
					<a class='products__item' href='/products/yard-logistic/'>
						<!-- Title -->
						<div class='products__header'>
							<p class='fl wm cw'>Управление двором</p>
							<img src='/assets/images/product-page/icons/yard-logistic.svg' />
						</div>
						<!-- Description -->
						<p class='products__description fxs cw'>
							Решение для эффективного управления внутридворовыми перемещениями
						</p>
						<!-- Buttons -->
						<div class='products__buttons'>
							<p class='fm link cw'>Подробнее</p>
							<img src='/assets/images/icons/btn-down-light.svg' />
						</div>
					</a>
				</div>
			</section>
			<section
				class='content__catalog content__big-section catalog'
				id='catalog'
			>
				<!-- Title -->
				<div class='entry container'>
					<h2 class='entry__title'>Откройте для себя решение</h2>
					<hr class='entry__line' />
					<div class='entry__content'>
						<div class='entry__content-description'>
							<p class='fl wm'>
								Используйте решения линейки IT Vectura для управления Вашими
								логистическими процессами
							</p>
							<p class='fm'>
								Используйте только необходимое сочетание технологий и
								функционала линейки IT Vectura благодаря гибкому
								solution-конструктору для решения сложных задач и достижения
								нового качественного уровня бизнес-результатов.
							</p>
						</div>
						<div class='entry__icon'>
							<img
								src='/assets/images/icons/btn-down-long-dark.svg'
								class='title__icon'
							/>
						</div>
					</div>
				</div>
				<!-- Main -->
				<div class='catalog__content container'>
					<!-- Warehouse -->
					<div class='catalog__item'>
						<div class='catalog__item-content'>
							<div class='catalog__title'>
								<h3 class='fxl wb up'>Управление складом</h3>
								<p class='fxs'>
									Управляйте крупномасштабными складскими операциями и
									объединяйте&nbsp;сложные логистические цепочки с вашими
									складскими и&nbsp;распределительными процессами, обеспечивая
									высокий уровень прозрачности и контроля с помощью решений
									линейки IT Vectura.
								</p>
							</div>
							<div class='catalog__points'>
								<p class='fxs wsb red'>Приемка и учет товаров</p>
								<p class='fxs wsb yel'>Комплектация и отгрузка</p>
								<p class='fxs wsb orn'>
									Формирование эффективных схем хранения
								</p>
								<p class='fxs wsb blu'>
									Контроль и отчетность за складскими процессами
								</p>
							</div>
							<div class='catalog__button'>
								<a href='/products/warehouse-management/' class='btn btn__fill'>
									Узнать больше о продукте
								</a>
							</div>
						</div>
						<div class='catalog__item-pic'>
							<img src='/assets/images/product-page/products/warehouse.png' />
						</div>
					</div>
					<!-- Transport -->
					<div class='catalog__item'>
						<div class='catalog__item-content'>
							<div class='catalog__title'>
								<h3 class='fxl wb up'>Управление транспортом</h3>
								<p class='fxs'>
									Формируйте план транспортных цепей, ориентированный на
									производство и&nbsp;потребности. Используйте сквозной анализ и
									динамическое отслеживание перемещения транспорта. Управляйте
									транспортными затратами, используя функцию предварительного
									и&nbsp;фактического расчета стоимости фрахта.
								</p>
							</div>
							<div class='catalog__points'>
								<p class='fxs wsb red'>«Умное» планирование заказов</p>
								<p class='fxs wsb yel'>Мониторинг исполнения перевозок 24/7</p>
								<p class='fxs wsb orn'>
									Автоматический расчет транспортных затрат
								</p>
								<p class='fxs wsb blu'>
									Оперативная и аналитическая отчетность
								</p>
							</div>
							<div class='catalog__button'>
								<a href='/products/transport-management/' class='btn btn__fill'>
									Узнать больше о продукте
								</a>
							</div>
						</div>
						<div class='catalog__item-pic'>
							<img src='/assets/images/product-page/products/transport.png' />
						</div>
					</div>
					<!-- Yard -->
					<div class='catalog__item'>
						<div class='catalog__item-content'>
							<div class='catalog__title'>
								<h3 class='fxl wb up'>Управление двором</h3>
								<p class='fxs'>
									Создайте инфраструктурную модель внутреннего двора компании
									для оперативного и прозрачного контроля исполнения операций
									погрузки, разгрузки, регистрации транспортных средств и
									планирования доступности&nbsp;мощностей
									погрузочно-разгрузочных зон.
								</p>
							</div>
							<div class='catalog__points'>
								<p class='fxs wsb red'>Планирование загрузки ворот</p>
								<p class='fxs wsb orn'>Управление электронной очередью</p>
								<p class='fxs wsb yel'>Контроль передвижения транспорта</p>
								<p class='fxs wsb blu'>
									Информирование водителей и складского персонала
								</p>
							</div>
							<div class='catalog__button'>
								<a href='/products/yard-logistic/' class='btn btn__fill'>
									Узнать больше о продукте
								</a>
							</div>
						</div>
						<div class='catalog__item-pic'>
							<img src='/assets/images/product-page/products/yard.png' />
						</div>
					</div>
				</div>
			</section>
		</main>

		<!-- *** Final page components *** -->
		<Footer />
		<ContactUsPopup />
	</body>
</html>
